$colour: red;
h1 {
    color:$colour;
    text-align: center;
}
.carimg{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
.carimg:hover{
    width:53%;
}
img:hover{
    width:105%;
}
#LDescription::before{
    content:"Lambo discription!";
}
#BDescription::before{
    content:"Bugatti discription!";
}
#RRDescription::before{
    content:"RR discription!";
}
footer{
    border: 2px solid black;
    background: grey;
    color: aliceblue;
    margin: 5mm;
    padding: 10mm;
}
footer a{
    font-size: 30px;
    color: aliceblue;
}
.titleimg{
    margin-right: auto;
    margin-left: auto;
}
